.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    cursor: pointer;

}

.shopping-icon {
    width: 30px;
    height: 30px;
}

.item-count {
    position: absolute;
    top: 10px;
    left: 18px;
    font-size: 14px;
}