.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
}
.header a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.header a,
.header a:active,
.header a:visited {
  color: #ffffff;
}
.header--menu {
  flex: 0 0 50%;
  list-style: none;
  display: flex;
  justify-content: center;
}
.header--menu li {
  margin-right: 20px;
}
